<!-- <div class="py-10 bg-[url('/assets/world-background_rivers-gold.jpg')]">
  <h1 class="font-sans w-fit mx-auto text-[34.96px] font-bold text-[#1b2c48]">
    O<span class="text-[23.31px]">NENESS</span> P<span class="text-[23.31px]"
      >ERFUMES</span
    >-A<span class="text-[23.31px]">ROMAS</span> OF U<span
      class="text-[23.31px]"
      >NITY</span
    >
    <span class="text-[23.31px]"> FOR </span> A<span class="text-[23.31px]"
      >LL</span
    >
    I<span class="text-[23.31px]">DENTITIES</span>
  </h1>
  <p
    class="font-sans mb-2.5 w-fit mx-auto text-[23.31px] font-bold text-[#1b2c48]"
  >
    Fragrances That Unite the World
  </p>

  <h1
    class="font-sans w-fit mx-auto mb-10 mt-2.5 text-[34.96px] font-bold text-[#1b2c48]"
  >
    L<span class="text-[23.31px]">ONG</span> L<span
      class="text-[23.31px] border-r-2 border-r-[#1b2c48] pr-3"
      >ASTING</span
    >
    G<span class="text-[23.31px] border-r-2 border-r-[#1b2c48] pr-3"
      >ENDERLESS</span
    >
    C<span class="text-[23.31px]">RUELTY</span>-F<span class="text-[23.31px]"
      >REE</span
    >
  </h1>

  <div class="w-fit flex justify-between mx-20 px-10">
    <div class="w-1/3 border-r-4 border-r-[#1b2c48] px-6">
      <div class="mb-10">
        <h1 class="text-[#27459f] font-sans text-[23.31px] font-bold">
          <span class="text-[31.5px]"> Oneness - </span>
        </h1>
        <h1 class="text-[#27459f] font-sans text-[23.31px] mb-2 font-bold">
          expressed in the common language of 196 Countries.
        </h1>
        <h1 class="text-[#27459f] font-sans text-[23.31px] font-bold">
          <span class="text-[31.5px]"> Oneness - </span>
        </h1>
        <h1
          class="text-[#27459f] font-sans text-[23.31px] leading-none font-bold"
        >
          One Humanity A Global Voice of Unity
        </h1>
      </div>

      <span>
        <p>Afghanistan</p>
      </span>
    </div>
    <div class="px-6 flex flex-col justify-center text-center items-center">
      <div class="flex gap-x-2 items-center justify-center">
        <h1
          class="font-sans font-extrabold leading-none text-[37px] text-[#1b2c48]"
        >
          <span class=""> Welcome </span>
        </h1>
        <p
          class="font-normal leading-none text-[23.31px] font-sans text-[#1b2c48]"
        >
          to the captivating world of
        </p>
      </div>

      <h1
        class="font-sans font-extrabold leading-none text-[37px] text-[#1b2c48]"
      >
        Oneness Perfume
      </h1>

      <div
        class="flex flex-col leading-none w-fit items-center my-1.5 justify-center"
      >
        <div class="flex gap-2 items-center justify-center">
          <h1 class="font-sans text-[#1b2c48] font-extrabold text-[37px]">
            Fragrance
          </h1>

          <p
            class="text-[#1b2c48] text-[27px] font-normal font-sans leading-none"
          >
            transcends borders and fosters
          </p>
        </div>

        <p
          class="text-[#1b2c48] w-2/3 text-[27px] font-normal font-sans leading-none"
        >
          a profound connection among hearts worldwide!
        </p>
      </div>

      <div class="flex gap-2 items-center">
        <h1
          class="font-sans text-[#1b2c48] leading-none font-extrabold text-[34px]"
        >
          Immerse
        </h1>
        <p class="text-[#1b2c48] text-[27px] font-sans leading-none">
          yourself in the enchanting allure of our
        </p>
      </div>

      <h1 class="font-sans text-[#1b2c48] font-bold leading-none text-[34px]">
        Perfumes for All Identities.
      </h1>

      <div class="flex gap-2 items-center my-2">
        <h1
          class="font-sans text-[#1b2c48] leading-none font-extrabold text-[34px]"
        >
          Discover
        </h1>
        <p class="text-[#1b2c48] text-[27px] font-sans leading-none">
          the transformative essence and
        </p>
      </div>

      <p class="text-[#1b2c48] mb-2.5 text-[27px] font-sans leading-none">
        rich symbolism behind the name Oneness!
      </p>

      <p class="text-[#1b2c48] text-[27px] mb break-words font-sans leading-none">
        <span class="text-[37px]"> Explore </span> the authentic impact through
        heartfelt testimonials.
      </p>

      <p
        class="text-[#1b2c48] text-[27px] font-sans leading-none break-words font-bold"
      >
        In Oneness with our truest Selves... We find Oneness with our World!
      </p>
      <p></p>

      <p>
        In Oneness with our truest Selves... We find Oneness with our World!
      </p>

      <h3>ONENESS PERFUME</h3>
      <h4>30 SEC. COMMERCIAL - SHAWN RAE</h4>
      <p>(White Tuxedo)</p>
      <p>Click on the Red Play Button</p>
    </div>
  </div>
</div> -->

<!-- <div class="bg-[#000000]">
  <div class="md:p-10 p-4 text-center">
    <h1 class="text-[#ffd700] md:text-2xl font-serif">
      <p class="text-[32px]">
        <span class="text-5xl">S</span>HAWN <span class="text-5xl">R</span>AE:
      </p>
      <span class="text-[32px]"> G</span>LOBAL
      <span class="text-[32px]">"G</span>OODWILL
      <span class="text-[32px]">A</span>MBASSADOR "
    </h1>
    <p class="font-serif text-[#ffd700] text-lg">
      For the <span class="text-2xl">WORLD ENERGY FORUM </span>at the Annual
      <span class="text-2xl">UNITED NATIONS</span>
    </p>

    <p
      class="font-serif text-[#ffd700] shadow-xl shadow-[#1018280D] border-b-2 border-b-[#cc6633] w-fit mx-auto rounded-full py-2 text-lg"
    >
      World Energy Day Conference at UN Headquarters, New York
    </p>

    <div
      class="flex flex-col-reverse md:flex-row items-center relative gap-10 my-10"
    >
      <span class="border-[#cc6633] border rounded-xl">
        <img
          src="/assets/lower-right3.jpg"
          class="md:h-96 rounded-xl pt-8 mx-auto"
          alt=""
        />
      </span>

      <span class="border-[#cc6633] border rounded-xl">
        <iframe
          class="w-80 md:w-[560px] md:h-96 rounded-xl"
          src="https://www.youtube.com/embed/HXI5r-x7FL0?si=Mvc0c7s-7IsZ7OvE"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </span>
    </div>

    <div>
      <p class="text-[#ffd700] text-[32px]">
        <span class="text-5xl">T</span>RENDING
      </p>

      <div>
        <div
          class="flex md:flex-row flex-col-reverse justify-start my-4 mx-auto items-start"
        >
          <div
            class="flex overflow-x-scroll gap-x-4 border-r md:px-6 md:w-3/5 no-scrollbar"
            id="slideshow"
          >
            <div
              class="flex-shrink-0 md:w-80 active-item"
              *ngFor="let item of slides"
            >
              <div
                class="flex font-serif text-sm md:text-base bg-white justify-center items-center flex-col-reverse py-5 border-2 rounded-lg"
              >
                <p class="px-4">
                  {{ item.text }}
                </p>
                <img
                  src="{{ item.img }}"
                  class="w-32 h-40 object-cover"
                  alt=""
                />
              </div>
            </div>
      
          </div>
       

          <div
            class="text-white flex mb-4 md:mb-0 md:px-10 flex-col items-start"
          >
            <h3 class="text-[#ffd700] font-sans text-[32px]">
              Shawn Rae Video Clips
            </h3>
            <ol
              class="list-decimal flex flex-col items-start px-1 text-[#b8e0f5]"
            >
              <li class="font-pop text-base text-[#b8e0f5] cursor-pointer">
                <a
                  class="border-b hover:border-[#fff] border-[#e70000]"
                  target="_blank"
                  href="https://www.shawnrae.com/news.shtml"
                >
                  Latest News & Events Page
                </a>
              </li>
              <li
                class="font-pop text-sm cursor-pointer border-[#e70000] hover:border-white"
              >
                <a
                  class="border-b hover:border-[#fff] text-[#e70000] hover:text-white border-[#e70000]"
                  target="_blank"
                  href="https://www.shawnrae.com/page82.shtml"
                >
                  Shawn Rae Video Biography
                </a>
              </li>
              <li class="font-pop text-sm text-[#b8e0f5] cursor-pointer">
                <a
                  target="_blank"
                  href="https://www.shawnrae.com/news.shtml"
                  class="border-b hover:border-[#fff] text-[#40ef61] border-[#e70000]"
                >
                  Photos From Arianna Huffington to Fareed Zakaria
                </a>
              </li>

              <li class="font-pop text-[#b8e0f5] text-sm cursor-pointer">
                <a
                  target="_blank"
                  href="https://www.shawnrae.com/page78.shtml"
                  class="border-b hover:border-[#fff] text-[#e70000] border-[#e70000]"
                >
                  Shawn Rae Christmas Album Videos
                </a>
              </li>
              <li class="font-pop text-sm cursor-pointer">
                <a
                  target="_blank"
                  href="https://www.shawnrae.com/page66.shtml"
                  class="text-[#f6914d] border-b hover:border-[#fff] border-[#e70000]"
                >
                  Shawn Rae Music Videos
                </a>
              </li>
              <li class="font-pop text-[#b8e0f5] text-sm cursor-pointer">
                <a
                  target="_blank"
                  href="https://www.shawnrae.com/page67.shtml"
                  class="text-[#9ef2cc] border-b hover:border-[#fff] border-[#e70000]"
                >
                  Shawn Rae National & Internation
                </a>
              </li>
              <li class="font-pop text-sm cursor-pointer">
                <a
                  target="_blank"
                  href="https://www.shawnrae.com/page68.shtml"
                  class="border-b hover:border-[#fff] text-[#e70000] hover:text-white border-[#e70000]"
                >
                  More Video Clips
                </a>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="text-[#ffd700] md:m-10">
        <span class="text-[32px]"> X</span>MAS
        <p> -->
<!-- <span class="text-[32px]"> N</span>EW
        <span class="text-[32px]"> Y</span>EAR
        <span class="text-[32px]"> T</span>IMES
        <span class="text-[32px]"> A</span>D

        </p> -->
<!-- <div class="grid grid-cols-1 md:grid-cols-2 gap-x-4">
          <img
            src="/assets/upper-left1.jpg"
            class="h-96 w-full rounded-xl border mt-4 md:mt-10"
            alt=""
          />
          <img
            src="/assets/upper-center2.jpg"
            class="h-96 my-4 md:mt-10 rounded-xl border"
            alt=""
          />
        </div>
      </div>

      <div class="flex text-white flex-col gap-y-2 items-center">
        <h2 class="font-sans text-2xl text-[#ffd700]">
          Christmas & Romance CDs Available on Amazon & Itunes
        </h2>

        <a href="" class="text-[#e70000] text-xl">Links to Amazon & Tunecore</a>

        <img
          src="/assets/upper-center1.jpg"
          class="w-96 border-4 border-[#e70000] font-serif"
          alt=""
        />

        <p class="md:w-2/3 my-2 font-pop text-xl">
          <span class="text-[#e70000]">*</span> Featuring a Duet with DEANNA
          MARTIN, World Renowned Singer/Actress, daughter of American Music Icon
          and Legend, DEAN MARTIN
        </p>

        <h3 class="text-2xl font-serif text-[#ffd700]">
          AWAKEN TO THE SPIRIT OF ONENESS
        </h3>

        <p class="md:w-2/3 font-sans text-sm">
          As a unique and multifaceted international personality,
          <span class="text-[#ffd700]">Shawn Rae</span> is best known for his
          various contributions as a speaker, designer, recording artist, and
          humanitarian. <span class="text-[#ffd700]">Shawn</span> has, during
          the course of his global work, consulted, interviewed, worked or met
          with a host of distinguished personalities from A to Z from Wally Amos
          (Famous Amos) to Arianna Huffington to Fareed Zakaria, and many others
          in between. He has represented the United States at various national
          and international events and forums, and has also been featured in the
          media speaking on topics such as corporate giving, human rights
          abuses, matters relating to world trade, technology, and
          energy-related issues affecting mankind.
          <span class="text-[#ffd700]"> Shawn </span> was selected as one of the
          Top Ten Speakers in the United States for the Conference on American
          Ingenuity by the U.S. Department of Commerce and picked as one of four
          Judges by the U.S. Patent & Trademark Office and the Intellectual
          Property Association (IPO). The IPO includes such prestigious members
          as, General Motors, Lockheed, 3M, General Electric, Microsoft, Xerox,
          Aramco, Rolls-Royce, and other major corporate and multinational
          leaders. <span class="text-[#ffd700]">Shawn</span> is the global
          <span class="text-[#ffd700]">Goodwill Ambassador</span> for the World
          Energy Forum, headquartered at the United Nations Plaza. The World
          Energy Forum partners with world governments, energy-related
          organizations, and the private sector. Its annual
          <span class="text-[#ffd700]">World Energy Forum Conference</span> at
          the United Nations, along with many other events all over the world,
          helps to lead a global conversation on energy issues, and to educate
          and campaign for accessible and sustainable energy that can benefit
          the economic and social development of all nations and peoples across
          the globe. Shawn's motto is
          <span class="text-[#e70000]"> "Challenge yourself" </span> According
          to Shawn,
          <span class="text-[#e70000]">
            "A unified humanity can collectively resolve problems. Divided, we
            only serve to create them."</span
          >
        </p>
        <a href="/biography" class="text-[#e70000] border-b border-b-[#e70000]">
          More>>
        </a>
      </div>
    </div>
  </div>

  <div>
    <app-footer />
  </div>
</div>  -->

<div class=" grid gap-x-10 px-10 grid-cols-3 my-10 justify-items-center">
  <div class="">
    <h1 class="text-[#ffd700] text-center text-2xl font-serif">
      <p class="md:text-[32px]">
        <span class="text-5xl">S</span>HAWN <span class="text-5xl">R</span>AE:
      </p>
      <span class="text-[32px]"> G</span>LOBAL
      <span class="text-[32px]">"G</span>OODWILL
      <span class="text-[32px]">A</span>MBASSADOR "
    </h1>
    <p class="font-serif text-center text-[#ffd700] text-lg">
      For the <span class="text-2xl">WORLD ENERGY FORUM </span>at the Annual
      <span class="text-2xl">UNITED NATIONS</span>
    </p>

    <p
      class="font-serif text-center text-[#ffd700] shadow-xl shadow-[#1018280D] border-b-2 border-b-[#cc6633] w-fit mx-auto rounded-full py-2 text-lg"
    >
      World Energy Day Conference at UN Headquarters, New York
    </p>

    <span class="">
      <img src="/assets/lower-right3.jpg" class="py-8 mx-auto" alt="" />
    </span>

    <div
      class="flex-shrink-0 gap-y-4 mb-10 active-item"
      *ngFor="let item of slides"
    >
      <div
        class="flex font-serif text-base justify-center items-center flex-col-reverse text-white"
      >
        <p class="px-4">
          {{ item.text }}
        </p>
        <img src="{{ item.img }}" alt="" />
      </div>
    </div>

    <div class="text-white flex flex-col items-start">
      <h3 class="text-[#ffd700] font-sans text-[32px]">
        Shawn Rae Video Clips
      </h3>
      <ol class="list-decimal flex flex-col items-start px-1 text-[#b8e0f5]">
        <li class="font-pop text-base text-[#b8e0f5] cursor-pointer">
          <a
            class="border-b hover:border-[#fff] border-[#e70000]"
            target="_blank"
            href="https://www.shawnrae.com/news.shtml"
          >
            Latest News & Events Page
          </a>
        </li>
        <li
          class="font-pop text-sm cursor-pointer border-[#e70000] hover:border-white"
        >
          <a
            class="border-b hover:border-[#fff] text-[#e70000] hover:text-white border-[#e70000]"
            target="_blank"
            href="https://www.shawnrae.com/page82.shtml"
          >
            Shawn Rae Video Biography
          </a>
        </li>
        <li class="font-pop text-sm text-[#b8e0f5] cursor-pointer">
          <a
            target="_blank"
            href="https://www.shawnrae.com/news.shtml"
            class="border-b hover:border-[#fff] text-[#40ef61] border-[#e70000]"
          >
            Photos From Arianna Huffington to Fareed Zakaria
          </a>
        </li>

        <li class="font-pop text-[#b8e0f5] text-sm cursor-pointer">
          <a
            target="_blank"
            href="https://www.shawnrae.com/page78.shtml"
            class="border-b hover:border-[#fff] text-[#e70000] border-[#e70000]"
          >
            Shawn Rae Christmas Album Videos
          </a>
        </li>
        <li class="font-pop text-sm cursor-pointer">
          <a
            target="_blank"
            href="https://www.shawnrae.com/page66.shtml"
            class="text-[#f6914d] border-b hover:border-[#fff] border-[#e70000]"
          >
            Shawn Rae Music Videos
          </a>
        </li>
        <li class="font-pop text-[#b8e0f5] text-sm cursor-pointer">
          <a
            target="_blank"
            href="https://www.shawnrae.com/page67.shtml"
            class="text-[#9ef2cc] border-b hover:border-[#fff] border-[#e70000]"
          >
            Shawn Rae National & Internation
          </a>
        </li>
        <li class="font-pop text-sm cursor-pointer">
          <a
            target="_blank"
            href="https://www.shawnrae.com/page68.shtml"
            class="border-b hover:border-[#fff] text-[#e70000] hover:text-white border-[#e70000]"
          >
            More Video Clips
          </a>
        </li>
      </ol>
    </div>
  </div>

  <!-- grid 2 -->
  <div class="">
    <span class="">
      <iframe
        class="w-full"
        src="https://www.youtube.com/embed/HXI5r-x7FL0?si=Mvc0c7s-7IsZ7OvE"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </span>

    <div class="text-[#ffd700] text-center my-2 my-4">
      <span class="text-[32px]"> X</span>MAS
      <p>
        <span class="text-[32px]"> N</span>EW
        <span class="text-[32px]"> Y</span>EAR
        <span class="text-[32px]"> T</span>IMES
        <span class="text-[32px]"> A</span>D
      </p>
    </div>

    <div class="">
      <img
        src="/assets/upper-center2.jpg"
        class="w-full rounded-xl border"
        alt=""
      />
      <img
        src="/assets/upper-left1.jpg"
        class="w-full rounded-xl border mt-10"
        alt=""
      />
    </div>
    <!-- </div> -->
  </div>
  <!-- grid 3 -->
  <div class=" text-white flex items-center flex-col text-center">  
    <!-- <div class="flex text-white flex-col gap-y-2 items-center"> -->
    <h2 class="font-sans md:text-2xl text-[#ffd700]">
      Christmas & Romance CDs Available on Amazon & Itunes
    </h2>

    <a href="" class="text-[#e70000] text-xl">Links to Amazon & Tunecore</a>

    <img
      src="/assets/upper-center1.jpg"
      class="border-4 border-[#e70000] font-serif"
      alt=""
    />

    <p class="my-2 font-pop text-xl">
      <span class="text-[#e70000]">*</span> Featuring a Duet with DEANNA MARTIN,
      World Renowned Singer/Actress, daughter of American Music Icon and Legend,
      DEAN MARTIN
    </p>

    <h3 class="text-2xl font-serif text-[#ffd700]">
      AWAKEN TO THE SPIRIT OF ONENESS
    </h3>

    <p class="font-sans text-sm">
      As a unique and multifaceted international personality,
      <span class="text-[#ffd700]">Shawn Rae</span> is best known for his
      various contributions as a speaker, designer, recording artist, and
      humanitarian. <span class="text-[#ffd700]">Shawn</span> has, during the
      course of his global work, consulted, interviewed, worked or met with a
      host of distinguished personalities from A to Z from Wally Amos (Famous
      Amos) to Arianna Huffington to Fareed Zakaria, and many others in between.
      He has represented the United States at various national and international
      events and forums, and has also been featured in the media speaking on
      topics such as corporate giving, human rights abuses, matters relating to
      world trade, technology, and energy-related issues affecting mankind.
      <span class="text-[#ffd700]"> Shawn </span> was selected as one of the Top
      Ten Speakers in the United States for the Conference on American Ingenuity
      by the U.S. Department of Commerce and picked as one of four Judges by the
      U.S. Patent & Trademark Office and the Intellectual Property Association
      (IPO). The IPO includes such prestigious members as, General Motors,
      Lockheed, 3M, General Electric, Microsoft, Xerox, Aramco, Rolls-Royce, and
      other major corporate and multinational leaders.
      <span class="text-[#ffd700]">Shawn</span> is the global
      <span class="text-[#ffd700]">Goodwill Ambassador</span> for the World
      Energy Forum, headquartered at the United Nations Plaza. The World Energy
      Forum partners with world governments, energy-related organizations, and
      the private sector. Its annual
      <span class="text-[#ffd700]">World Energy Forum Conference</span> at the
      United Nations, along with many other events all over the world, helps to
      lead a global conversation on energy issues, and to educate and campaign
      for accessible and sustainable energy that can benefit the economic and
      social development of all nations and peoples across the globe. Shawn's
      motto is
      <span class="text-[#e70000]"> "Challenge yourself" </span> According to
      Shawn,
      <span class="text-[#e70000]">
        "A unified humanity can collectively resolve problems. Divided, we only
        serve to create them."</span
      >
    </p>
    <a href="/biography" class="text-[#e70000] border-b border-b-[#e70000]">
      More>>
    </a>
    <!-- </div> -->
  </div>
</div>
