<div class="overflow-y-hidden w-full">
  <app-navbar />
  <div
    class="bg-[#000] text-white flex flex-col justify-center mx-auto py-4 px-5 md:px-10"
  >
    <div class="md:w-2/3 mx-auto">
      <h1 class="text-2xl text-[#cfb53b] font-bold py-3 font-serif text-center">
        <span class="text-4xl">S</span>HAWN <span class="text-4xl">R</span>AE
        <span class="text-4xl">C</span>ONTACT <span class="text-4xl">P</span>AGE
      </h1>
      <p class="font-bold text-xl text-[#cfb53b] font-serif">
        Mailing Address:
      </p>
      <p class="w-1/3">
        7050 W. Palmetto Park Rd. # 15-105 Boca Raton, Florida 33433 USA
      </p>
      <div class="flex items-center gap-x-4">
        <h3 class="font-bold text-xl text-[#cfb53b] font-serif">Phone:</h3>
        <p>561-372-1640</p>
      </div>

      <div class="flex items-center gap-x-4">
        <h3 class="font-bold text-xl text-[#cfb53b] font-serif">Fax:</h3>
        <p>772-293-9278</p>
      </div>

      <div class="flex gap-x-4">
        <h3 class="text-[#cfb53b] text-xl font-serif font-bold">Email:</h3>
        <p class="underline">Info&#64;ShawnRae.com</p>
      </div>

      <!-- <h3>OUR</h3> -->

      <div
        class="bg-white font-serif my-5 text-black p-3 border-2 rounded-lg border-[#e70000]"
      >
        <h2 class="font-bold text-[#cfb53b] text-2xl">
          Comments Form:
          <span class="text-base text-gray-300 font-sans italic"
            >Fields with <span class="text-red-600">*</span> are required</span
          >
        </h2>

        <div class="flex flex-col gap-y-1 mt-2">
          <label for="" class="font-pop text-sm"
            >How did you hear about us?</label
          >
          <select
            name=""
            id=""
            class="border-[#cfb53b] outline-none border-2 rounded-md p-2"
          >
            <option value=""></option>
            <option value="Referral/Recommendation">
              Referral/Recommendation
            </option>
            <option value="Advertisement">Advertisement</option>
            <option value="Web Search">Web Search</option>
            <option value="Other">Other</option>
            <!-- <option value="General Commentary">General Commentary</option> -->
          </select>
        </div>

        <div class="flex flex-col gap-y-1 mt-2">
          <label for="" class="font-pop text-sm"
            >Email Address <span class="text-red-600">*</span></label
          >
          <input
            type="text"
            class="border-[#cfb53b] outline-none border-2 rounded-md p-2"
            name=""
            id=""
          />
        </div>

        <div class="flex flex-col gap-y-1 mt-2">
          <label for="" class="font-pop text-sm">First Name</label>
          <input
            type="text"
            class="border-[#cfb53b] outline-none border-2 rounded-md p-2"
            name=""
            id=""
          />
        </div>

        <div class="flex flex-col gap-y-1 mt-2">
          <label for="" class="font-pop text-sm">Last Name</label>
          <input
            type="text"
            class="border-[#cfb53b] outline-none border-2 rounded-md p-2"
            name=""
            id=""
          />
        </div>

        <div class="flex flex-col gap-y-1 mt-2">
          <label for="" class="font-pop text-sm">Phone Number</label>
          <input
            type="text"
            class="border-[#cfb53b] outline-none border-2 rounded-md p-2"
            name=""
            id=""
          />
        </div>

        <div class="flex flex-col gap-y-1 mt-2">
          <label for="" class="font-pop text-sm">Comments </label>
          <textarea
            class="border-[#cfb53b] outline-none border-2 rounded-md p-2"
            name=""
            id=""
          ></textarea>
          <input type="text" name="" id="" />
        </div>

        <div class="flex justify-between">
          <span></span>
          <button
            class="border border-[#cfb53b] bg-[#cfb53b] text-white px-3 py-1.5 rounded-full"
          >
            Submit
          </button>
        </div>
      </div>

      <div>
        <h3 class="font-bold text-xl text-[#cfb53b]">
          Your Security and Privacy
        </h3>
        <p class="text-lg mb-2">
          We are committed to protecting your personal information with the
          highest level of care.
        </p>

        <ol>
          <li class="list-decimal text-[#cfb53b]">
            <p class="text-white">
              <span class="font-serif text-lg text-[#cfb53b]"
                >Absolute Data Protection:</span
              >
              Your personal information, including email addresses, is
              safeguarded with state-of-the-art encryption and security
              measures.
            </p>
          </li>
          <li class="list-decimal text-[#cfb53b]">
            <p class="text-white">
              <span class="font-serif text-lg text-[#cfb53b]"
                >Zero Tolerance for Data Sharing:</span
              >
              We will never sell, trade, lease, rent, or distribute your
              personal information under any circumstances.
            </p>
          </li>

          <li class="list-decimal text-[#cfb53b]">
            <p class="text-white">
              <span class="font-serif text-lg text-[#cfb53b]"
                >Transparent Practices:</span
              >
              We are committed to transparency about how we handle your
              information.
            </p>
          </li>
          <li class="list-decimal text-[#cfb53b]">
            <p class="text-white">
              <span class="font-serif text-lg text-[#cfb53b]"
                >Continuous Vigilance:</span
              >
              We regularly update our security protocols to stay ahead of
              potential threats, ensuring your data remains protected around the
              clock.
            </p>
          </li>

          <li class="list-decimal text-[#cfb53b]">
            <p class="text-white">
              <span class="font-serif text-lg text-[#cfb53b]"
                >Strict Confidentiality:</span
              >
              Your data is treated with the highest level of confidentiality and
              is only used to enhance your experience with our services.
            </p>
          </li>

          <li class="list-decimal text-[#cfb53b]">
            <p class="text-white">
              <span class="font-serif text-lg text-[#cfb53b]"
                >Legal Compliance:</span
              >
              Your data is treated with the highest level of confidentiality and
              is only used to enhance your experience with our services.
            </p>
          </li>
        </ol>
      </div>
    </div>

    <div class="md:px-40 my-4">
      <p
        class="text-2xl font-serif text-center text-[#cfb53b] border-b w-fit border-[#cfb53b]"
      >
        Accessibility and Privacy & Security Statement
      </p>
    </div>

    <div class="md:px-28 md:my-8">
      <p class="text-2xl font-sans text-[#cfb53b]">
        Sharing words of Oneness- its pronunciation, language & country... 196
        Worldwide
      </p>
    </div>
  </div>
  <app-footer />
</div>
