<div
class="overflow-y-hidden w-full"
>
  <app-navbar />

  <div class="bg-[#000]">
    <div
      class="flex py-4 md:py-8 justify-center flex-col px-3 md:px-0 md:w-2/3 mx-auto text-center justify-items-center font-serif text-white"
    >
      <h1 class="text-3xl">LISTENING STATION</h1>
      <p class="text-2xl mb-2">PLEASE SCROLL DOWN TO SONG CLIPS</p>
      <img src="/assets/allcds.jpg" alt="" />

      <div class="grid grid-cols-2 mx-auto my-3 gap-x-3">
        <img src="/assets/cdGrid2.jpg" class="h-60 w-60" alt="" />

        <img src="/assets/cdGrid.jpg" class="h-60 w-60" alt="" />
      </div>
    </div>

    <app-music-preview />
  </div>
  <app-footer />
</div>
