<div class="bg-[#3d0101]">
  <!-- <style>
    .active-link {
      color: white;
    }
  </style> -->
  <span
    class="flex font-sans text-[#fff8d3] border-[#810100] border justify-between border-dotted"
  >
    <div></div>
    <ul class="inline-flex gap-x-4 px-1.5 text-sm py-1">
      <li
        class="hover:text-white cursor-pointer border-[#fff8d3] hover:border-[#fff] border-b w-fit"
      >
        <a target="'_blank" href="https://www.shawnrae.com/page4.shtml">
          Friends Club
        </a>
      </li>
      <li
        class="hover:text-white border-[#fff8d3] cursor-pointer hover:border-[#fff] border-b w-fit"
      >
        <a target="'_blank" href="https://www.shawnrae.com/news.shtml">
          News & Events
        </a>
      </li>
      <li
        class="hover:text-white border-[#fff8d3] hover:border-[#fff] cursor-pointer border-b w-fit"
      >
        <a target="_blank" href="https://www.shawnrae.com/page8.shtml">
          Electronic Press Kit
        </a>
      </li>
    </ul>
  </span>

  <span class="flex justify-center p-2 md:py-1">
    <img routerLink="" src="/assets/logo.jpg" alt="" />
  </span>

  <span class="flex justify-between border-[#810100] border">
    <span></span>
    <svg
      *ngIf="!navMenu"
      xmlns="http://www.w3.org/2000/svg"
      width="64"
      height="64"
      viewBox="0 0 16.933 16.933"
      id="hamburger"
      (click)="mobileNav()"
      class="text-white md:hidden w-6 mr-6"
    >
      <path
        d="M1.971 1.323c-1.058 0-1.058 1.587 0 1.587h12.996c1.059 0 1.059-1.587 0-1.587zm13.018 6.35H1.97c-1.1-.043-1.1 1.65 0 1.587h12.996c1.08.042 1.101-1.587.022-1.587zM1.97 14.023c-1.058 0-1.058 1.587 0 1.587h12.996c1.059 0 1.059-1.587 0-1.587z"
        fill="currentColor"
      ></path>
    </svg>
    <svg
      *ngIf="navMenu"
      xmlns="http://www.w3.org/2000/svg"
      xml:space="preserve"
      viewBox="0 0 50 50"
      id="close"
      (click)="mobileNav()"
      class="text-white w-6 mr-6"
    >
      <path
        d="M9.016 40.837a1.001 1.001 0 0 0 1.415-.001l14.292-14.309 14.292 14.309a1 1 0 1 0 1.416-1.413L26.153 25.129 40.43 10.836a1 1 0 1 0-1.415-1.413L24.722 23.732 10.43 9.423a1 1 0 1 0-1.415 1.413l14.276 14.293L9.015 39.423a1 1 0 0 0 .001 1.414z"
        fill="currentColor"
      ></path>
    </svg>
    <!-- <img src="" alt=""> -->

    <div *ngIf="navMenu" class="relative z-50 font-serif">
      <ul class="absolute bg-white top-8 w-96 px-4 py-4 right-0">
        <li class="py-2 border-b w-full cursor-pointer" routerLink="/">HOME</li>
        <li class="border-b py-2 cursor-pointer" routerLink="/biography">
          BIOGRAPHY
        </li>
        <li class="border-b py-2 cursor-pointer" routerLink="/photos">PHOTO</li>
        <li class="border-b py-2 cursor-pointer" routerLink="/music">MUSIC</li>
        <li>
          <a
            href="https://onenesstemporarystore.myshopify.com/"
            class="border-b py-2 cursor-pointer"
          >
            PERFUMES
          </a>
        </li>
        <li class="border-b py-2 cursor-pointer" routerLink="/gift-shop">
          GIFT SHOP
        </li>
        <li class="border-b py-2 cursor-pointer" routerLink="/cart">
          CONTACT
        </li>
        <!-- href="https://www.paypal.com/cgi-bin/webscr?cmd=_cart&business=paypal@shawnrae.com&display=1" -->

        <li routerLink="/cart" class="py-2 cursor-pointer">
          <a> VIEW CART </a>
        </li>
      </ul>
    </div>

    <ul
      class="hidden md:visible md:inline-flex md:text-[#e70000] md:gap-x-4 md:px-1.5 md:text-sm md:py-1 text-[12.8px] font-bold"
    >
      <li
        class="cursor-pointer w-fit"
        routerLink="/"
        [ngClass]="{ 'active-link': isActive('/') }"
      >
        HOME
      </li>
      <li
        class="hover:text-white cursor-pointer"
        routerLink="/biography"
        [ngClass]="{ 'active-link': isActive('/biography') }"
      >
        BIOGRAPHY
      </li>
      <li
        class="hover:text-white cursor-pointer"
        routerLink="/photos"
        [ngClass]="{ 'active-link': isActive('/photos') }"
      >
        PHOTO
      </li>
      <li
        class="hover:text-white cursor-pointer"
        routerLink="/music"
        [ngClass]="{ 'active-link': isActive('/music') }"
      >
        MUSIC
      </li>
      <li>
        <a
          href="https://onenesstemporarystore.myshopify.com/"
          class="hover:text-white cursor-pointer"
        >
          PERFUMES
        </a>
      </li>
      <li
        class="hover:text-white cursor-pointer"
        routerLink="/gift-shop"
        [ngClass]="{ 'active-link': isActive('/gift-shop') }"
      >
        GIFT SHOP
      </li>
      <li
        class="hover:text-white cursor-pointer"
        routerLink="/contact"
        [ngClass]="{ 'active-link': isActive('/contact') }"
      >
        CONTACT
      </li>
      <li
        class="hover:text-white cursor-pointer"
        [ngClass]="{ 'active-link': isActive('/view-cart') }"
        routerLink="/cart"
      >
        <!-- <a
          href="https://www.paypal.com/cgi-bin/webscr?cmd=_cart&business=paypal@shawnrae.com&display=1"
        > -->
          VIEW CART
        <!-- </a> -->
      </li>
    </ul>
  </span>
</div>