<!-- <div
  class="bg-[#1b2c48] relative flex gap-[20px] justify-center items-center px-[30px] py-5"
>
  <h1 class="text-[44px] font-sans font-bold text-white">Oneness perfume:</h1>
  <h2 class="font-sans font-normal text-[28px] text-[#fff0a9] w-1/2">
    Scents of Unity: Perfumes That Embrace Our Shared Community
  </h2>
</div>

<div
  class="w-fit px-0 bg-[url('/assets/world-background_rivers-gold.jpg')] py-2"
>
  <div class="bg-[#1b2c48] p-[25px] h-fit z-10 relative">
    <div
      class="w-full h-full py-20 gap-[20px] px-[20px] flex items-center justify-between bg-[url('/assets/Oneness-Home-sky-Image-10.3.jpg')] bg-cover bg-center"
    >
      <div class="">
        <img src="/assets/heart_words-Oneness-Wordpress-PNG.png" alt="" />
      </div>

      <div class="flex flex-col gap-y-4 text-center">
        <h1 class="font-sans font-black text-[71px] leading-none text-white">
          Oneness Perfume
        </h1>
        <p
          class="text-[#fff0a9] text-[42px] w-96 font-bold leading-none mx-auto"
        >
          Discover a fragrance that harmonizes with your values
        </p>
        <p class="text-[23.1px] font-sans font-bold w-1/2 mx-auto text-white">
          Join the movement
        </p>
      </div>
    </div>

    <div class="flex justify-center pt-5 items-center w-full">
      <div class="grid grid-cols-5 relative gap-x-[20px]">
        <div class="text-[#fff8d3] flex items-start mr-2 justify-end font-sans">
          <img src="/assets/Asset-11.png" alt="" />
        </div>
        <div class="text-[#fff8d3] flex items-center w-fit font-sans">
          <p class="">Think Noble</p>
        </div>
        <div class="text-[#fff8d3] flex gap-2 items-center w-fit font-sans">
          <img src="/assets/Asset-10.png" alt="" />
          <p>Feel Noble</p>
        </div>
        <div class="text-[#fff8d3] flex items-center gap-2 w-fit font-sans">
          <img src="/assets/Asset-10.png" alt="" />
          <p>Be Noble</p>
        </div>
        <div
          class="text-[#fff8d3] flex items-start justify-center w-fit font-sans"
        >
          <img src="/assets/Asset-9.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div
    class="border-4 bg-[#dca170] mx-20 border-x-0 my-1.5 py-4 flex justify-center border-t-0 border-b-[#1b2c48]"
  >
    <ul
      class="flex items-center gap-4 text-[#1b2c48] font-bold font-sans text-[26px]"
    >
      <li class="border-b-[#1b2c48] border-b-2 mx-5">Home</li>
      <li>Perfumes</li>
      <li>Testimonials</li>
      <li>Blog</li>
      <li>About</li>
      <li>Shopping</li>
      <li>Contact</li>
      <li
        class="bg-[#bd6030] w-11 h-11 flex items-center justify-center rounded-lg"
      >
        <img src="/assets/download (5).svg" class="w-12 h-12" alt="" />
      </li>
    </ul>
  </div>
</div>

30px 5rem -->

<div class="bg-[#3d0101]">
  <span
    class="flex font-sans text-[#fff8d3] border-[#810100] border justify-between border-dotted"
  >
    <div></div>
    <ul class="inline-flex gap-x-4 px-1.5 text-sm py-1">
      <li
        class="hover:text-white cursor-pointer border-[#fff8d3] hover:border-[#fff] border-b w-fit"
      >
        Friends Club
      </li>
      <li
        class="hover:text-white border-[#fff8d3] cursor-pointer hover:border-[#fff] border-b w-fit"
      >
        News & Events
      </li>
      <li
        class="hover:text-white border-[#fff8d3] hover:border-[#fff] cursor-pointer border-b w-fit"
      >
        Electronic Press Kit
      </li>
    </ul>
  </span>

  <span class="flex justify-center py-1">
    <img src="/assets/logo.jpg" alt="" />
  </span>

  <span class="flex justify-between border-[#810100] border">
    <span></span>
    <ul
      class="inline-flex text-[#e70000] gap-x-4 px-1.5 text-sm py-1 text-[12.8px] font-bold"
    >
      <li class="active text-[#fff] cursor-pointer w-fit">HOME</li>
      <li class="hover:text-white cursor-pointer">BIOGRAPHY</li>
      <li class="hover:text-white cursor-pointer">PHOTO</li>
      <li class="hover:text-white cursor-pointer">MUSIC</li>
      <li>
        <a
          href="https://onenesstemporarystore.myshopify.com/"
          class="hover:text-white cursor-pointer"
        >
          PERFUMES
        </a>
      </li>
      <li class="hover:text-white cursor-pointer">GIFT SHOP</li>
      <li class="hover:text-white cursor-pointer">CONTACT</li>
      <li class="hover:text-white cursor-pointer">VIEW CART</li>
    </ul>
  </span>
</div>
