/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #fff;
  &:hover {
    color: #fff;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html, body {
  margin: 0;
  padding: 0;
  // overflow-y: hidden;
}

* {
  box-sizing: border-box;
  // background-color: #000;
}



.zoom {
  zoom: 0.5;
  -moz-transform: scale(2);
  -moz-transform-origin: 0 0;
}

.zoom1 {
  zoom: 1.1;
  -moz-transform: scale(2);
  -moz-transform-origin: 0 0;
}

// @media screen and (max-width: 767px) {
//   * {
//     overflow-x: hidden;
//   }
// }

img, iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

// body {
//   overflow-x: hidden;
// }